<p>testing-page works!</p>


<div class="h-flex" style="flex-wrap: wrap; gap: 0.5rem; padding: 1rem">

  <button class="outline_button">
    <mat-icon fontSet="material-icons-round">manage_search</mat-icon>
    View all 2k results
  </button>

  <button class="outline_button">
    View all 2k results
    <mat-icon fontSet="material-icons-round">manage_search</mat-icon>
  </button>

  <button class="outline_button app-button app-button__big_font">
    View all 2k results
    <mat-icon fontSet="material-icons-round">manage_search</mat-icon>
  </button>

  <button class="outline_button">
    View all 2k results
  </button>

  <button class="solid_button">
    View all 2k results
  </button>

  <button class="solid_button">
    View all 2k results
    <mat-icon fontSet="material-icons-round">restart_alt</mat-icon>
  </button>

  <button class="flat_button">
    View all 2k results
    <mat-icon fontSet="material-icons-round">restart_alt</mat-icon>
  </button>

  <button class="icon_button">
    <mat-icon fontSet="material-icons-round">restart_alt</mat-icon>
  </button>

</div>
