@use 'src/variables' as v;
@forward "src/styles/v3/loading_skeleton/loading_skeleton";
@import "src/mat-table-appearance";

.info-panel {
  @extend .as-card, .v-flex;
  overflow: hidden;
  position: relative;

  .info-panel-top-part {
    @extend .h-flex, .space-between;
    padding: v.$d-padding v.$d-padding 0 v.$d-padding;

    .statistic-info {
      @extend  .v-flex;
      gap: 5px;
      font-family: Roboto, sans-serif;

      p {
        margin: 0;
      }

      .stat-description {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.54);
      }

      .stat-value {
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 20px;
        color: #000000;
      }

    }
  }
}
