<app-navbar style="width: 100%" class="mat-elevation-z6"></app-navbar>


<app-phenonet-top-bar
  *ngIf="!(loadingGraphData$ | async)"
  style="width: 100%; display: flex; justify-content: center; align-items: center; border-bottom: 1px solid rgba(0, 0, 0, 0.12);"
  [searchBarPhenotype]="mainDisease"
>
</app-phenonet-top-bar>

<!--courseObs | async as course; else loading-->
<main *ngIf="!(loadingGraphData$ | async) as loadingGraph; else loader " class="app-two-column-grid">
  <div style="gap: 35px;" class="v-flex">
    <app-graph-filter-bar
      [minGraphEdgeFreq]="minGraphEdgeFreq"
      [maxGraphEdgeFreq]="maxGraphEdgeFreq"
      [dropdownItems]="filterNodes"
      (sliderChange)="handleSliderInput($event)"
      (neighborDegree)="onDegreeDepthClick($event)"
      (highlightDisease)="diseaseToBeHighlighted = $event"
    ></app-graph-filter-bar>

    <app-network-graph
      [disease]="mainDisease || 'phenonet'"
      [graphData]="mainDiseaseGraph"
      [sliderValue]="currSliderValue"
      [diseaseToBeHighlighted]="diseaseToBeHighlighted"
      (selectEdge)="onEdgeSelect($event)"
      (selectNode)="onNodeSelect($event)"
      (filterNodes)="filterNodes = $event"

    ></app-network-graph>


  </div>

  <div style="gap: 35px;" class="v-flex">
    <div *ngIf="!mainDisease && !selectedEdge" class="as-card with-padding">
      <p class="title title_1">Phenonet</p>
      <div class="hint-with-badges">
        <p class="text">Select a</p>
        <div class="badge-node">NODE</div>
        <p class="text">or an</p>
        <div class="badge-edge">EDGE</div>
        <p class="text">from the network graph</p>
      </div>
    </div>

    <div *ngIf="selectedEdge" style="padding-bottom: 29px" class="v-flex as-card">
      <div class="v-flex align-flex-start" style="gap:9px;padding: 17px 17px 0 17px">
        <div class="badge-edge">EDGE</div>
        <div class="flex" style="gap:6px;">
          <!--          <div class="v-flex" style="flex: 0 0 auto;">-->
          <!--            <p class="title-1" style="flex: 0 0 auto; max-width: 220px">{{mainDisease && selectedEdge.node === selectedEdge.from ? selectedEdge.to: selectedEdge.from}}</p>-->
          <p class="title title_1" style="flex: 0 0 auto; max-width: 220px">{{selectedEdge.from}}</p>
          <!--          </div>-->
          <div><p class="title title_1">-</p></div>
          <!--          <div class="v-flex" style="flex: 0 0 auto;">-->
          <p class="title title_1" style="flex: 0 0 auto; max-width: 220px">{{selectedEdge.to}}</p>
          <!--          </div>-->
        </div>
      </div>


      <app-study-pairs-list
        style="width: 100%; overflow: hidden"
        [parentComponentName]="'edge-info-panel'"
        [studyPairs]="selectedEdge.datasetPairs" [primaryDisease]="mainDisease"
        [secondaryDisease]="selectedEdge.node"></app-study-pairs-list>

    </div>


    <div *ngIf="mainDisease && !selectedEdge" class="info-panel">

      <div class="info-panel-top-part">
        <div class="v-flex align-flex-start" style="gap:9px;">
          <div class="badge-node">NODE</div>
          <p class="title title_1" style="max-width: 270px">{{mainDisease}}</p>
        </div>


        <div class="h-flex" style="gap: 32px;margin-right: 10px;">

          <div class="statistic-info">
            <p class="stat-description">
              Neighbors
            </p>
            <p class="stat-value">
              {{mainDiseaseNeighborsCount}}
            </p>
          </div>

          <div class="statistic-info">
            <p class="stat-description">
              Studies
            </p>
            <p class="stat-value">
              {{mainDiseaseStudiesCount}}
            </p>
          </div>
        </div>


      </div>

      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Neighbors">
          <ng-template mat-tab-label>
            <span [matBadge]="connectedNodes.data.length" matBadgeSize="small" matBadgeOverlap="false">Neighbors</span>
          </ng-template>
          <div style="height: 100%;width: 100%; overflow: hidden">
            <!-- This outer div is required, otherwise expanded rows on table are being auto expanded when changing between tabs -->
            <app-neighbors-table [connectedNodes]="connectedNodes" [mainDisease]="mainDisease"></app-neighbors-table>
          </div>
        </mat-tab>
        <mat-tab label="Studies">
          <ng-template mat-tab-label>
            <span [matBadge]="studies.data.length" matBadgeSize="small" matBadgeOverlap="false">Studies</span>
          </ng-template>
          <div style="height: 100%;width: 100%; overflow: hidden">
            <!-- This outer div is required, otherwise expanded rows on table are being auto expanded when changing between tabs -->
            <app-studies-table [studies]="studies"></app-studies-table>
          </div>
        </mat-tab>
      </mat-tab-group>


    </div>
  </div>
</main>

<ng-template #loader>

  <div
    style="width: 100%; display: flex; justify-content: center; align-items: center; border-bottom: 1px solid rgba(0, 0, 0, 0.12);">
    <div class="loading_top_bar">
      <div class="l_placeholder" style="width: 469px;height: 14px;"></div>
    </div>
  </div>

  <main class="app-two-column-grid">
    <div style="gap: 35px;" class="v-flex">
      <div class="loading_graph_filters">
        <div class="l_placeholder" style="width: 200px;height: 30px"></div>
        <div style="border-left: 1px solid rgba(0, 0, 0, 0.12);height: 39px"></div>
        <div class="l_placeholder" style="width: 200px;height: 30px"></div>
        <div style="border-left: 1px solid rgba(0, 0, 0, 0.12);height: 39px"></div>
        <div class="l_placeholder" style="width: 200px;height: 30px"></div>
      </div>

      <div class="as-card" style="height:800px;width: 100%; position:relative;">
      </div>
    </div>

    <div style="gap: 35px;" class="v-flex">
      <div class="as-card">

        <div class="v-flex" style="padding: 17px;gap: 31px">
          <div class="h-flex space-between">
            <div class="v-flex" style="gap: 9px">
              <div class="l_placeholder" style="width: 49px;height: 14px;"></div>
              <div class="l_placeholder" style="width: 163px;height: 21px;"></div>
            </div>

            <div class="h-flex align-flex-start" style="gap: 23px">
              <div class="l_placeholder l_placeholder_circle" style="width: 41px"></div>
              <div class="l_placeholder l_placeholder_circle" style="width: 41px"></div>
            </div>
          </div>

          <div class="h-flex" style="gap: 50px">
            <div class="l_placeholder" style="width: 147px;height: 14px;"></div>
            <div class="l_placeholder" style="width: 147px;height: 14px;"></div>
          </div>
        </div>

        <div style="width: 100%; height: 1px;border-bottom: 1px solid rgba(0, 0, 0, 0.12);"></div>

        <div class="v-flex" style="padding: 20px 17px; gap: 20px">

          <div class="h-flex align-center space-between">
            <div class="l_placeholder" style="width: 420px;height: 14px"></div>
            <div class="l_placeholder l_placeholder_circle" style="width: 30px"></div>
          </div>

          <div class="h-flex align-center space-between">
            <div class="l_placeholder" style="width: 420px;height: 14px"></div>
            <div class="l_placeholder l_placeholder_circle" style="width: 30px"></div>
          </div>

        </div>


      </div>

    </div>


  </main>
</ng-template>
