<app-phenonet-breadcrumb></app-phenonet-breadcrumb>


<main class="app-page">

  <div style="gap: 20px;" class="v-flex">
    <app-p-graph-filters></app-p-graph-filters>

    <app-network-graph
      [disease]="mainDisease || 'phenonet'"
    >
      <div @myInsertRemoveTrigger *ngIf="!isShown" class="warning-toast">
        <mat-icon fontSet="material-icons-round">warning_amber</mat-icon>
        <span class="warning-action-action">{{mainDisease}}</span> is not visible in graph
      </div>
    </app-network-graph>
  </div>

  <!--    side panel with separate elements-->
  <div style="gap: 20px; z-index: 0" class="v-flex">
    <ng-container *ngIf="mainDisease">
      <ng-container *ngIf="studies$ | async as studies else sideLoading">
        <div *ngIf="connectedNodes$ | async as connectedNodes" class="info-panel">

          <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Neighbors">
              <ng-template mat-tab-label>
                <span [matBadge]="connectedNodes?.data.length ?? 0" matBadgeSize="small" matBadgeOverlap="false">Neighbors</span>
              </ng-template>
              <div style="height: 100%;width: 100%; overflow: hidden">
                <!-- This outer div is required, otherwise expanded rows on table are being auto expanded when changing between tabs -->
                <app-neighbors-table [connectedNodes]="connectedNodes" [mainDisease]="mainDisease"></app-neighbors-table>
              </div>
            </mat-tab>
            <mat-tab label="Studies">
              <ng-template mat-tab-label>
                <span [matBadge]="studies?.data.length ?? 0" matBadgeSize="small" matBadgeOverlap="false">Studies</span>
              </ng-template>
              <div style="height: 100%;width: 100%; overflow: hidden">
                <!-- This outer div is required, otherwise expanded rows on table are being auto expanded when changing between tabs -->
                <app-studies-table [studies]="studies"></app-studies-table>
              </div>
            </mat-tab>
          </mat-tab-group>


        </div>
      </ng-container>

    </ng-container>
  </div>

</main>

<ng-template #sideLoading >
  <div style="gap: 35px;" class="v-flex">
    <div class="as-card">

      <div class="v-flex" style="padding: 17px;gap: 31px">
        <div class="h-flex space-between">
          <div class="v-flex" style="gap: 9px">
            <div class="l_placeholder" style="width: 49px;height: 14px;"></div>
            <div class="l_placeholder" style="width: 163px;height: 21px;"></div>
          </div>

          <div class="h-flex align-flex-start" style="gap: 23px">
            <div class="l_placeholder l_placeholder_circle" style="width: 41px"></div>
            <div class="l_placeholder l_placeholder_circle" style="width: 41px"></div>
          </div>
        </div>

        <div class="h-flex" style="gap: 50px">
          <div class="l_placeholder" style="width: 147px;height: 14px;"></div>
          <div class="l_placeholder" style="width: 147px;height: 14px;"></div>
        </div>
      </div>

      <div style="width: 100%; height: 1px;border-bottom: 1px solid rgba(0, 0, 0, 0.12);"></div>

      <div class="v-flex" style="padding: 20px 17px; gap: 20px">

        <div class="h-flex align-center space-between">
          <div class="l_placeholder" style="width: 420px;height: 14px"></div>
          <div class="l_placeholder l_placeholder_circle" style="width: 30px"></div>
        </div>

        <div class="h-flex align-center space-between">
          <div class="l_placeholder" style="width: 420px;height: 14px"></div>
          <div class="l_placeholder l_placeholder_circle" style="width: 30px"></div>
        </div>

      </div>


    </div>

  </div>
</ng-template>
