<app-phenonet-breadcrumb></app-phenonet-breadcrumb>


<main class="app-page">

  <div style="gap: 20px;" class="v-flex">
    <app-p-graph-filters></app-p-graph-filters>

    <app-network-graph
      [disease]="mainDisease || 'phenonet'"
    >
      <div @myInsertRemoveTrigger *ngIf="!isShown" class="warning-toast">
        <mat-icon fontSet="material-icons-round">warning_amber</mat-icon>
        <span class="warning-action-action">{{mainDisease}}</span> is not visible in graph
      </div>
    </app-network-graph>
  </div>

  <!--    side panel with separate elements-->
  <div style="gap: 20px;" class="v-flex"></div>

</main>
