
@import 'src/variables';
h2 a {
  text-decoration: none;
  color: inherit;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding-left: 5px;
  padding-right: 5px;
}
td.mat-cell, td.mat-footer-cell {
  position: relative;
}

#neighbors td.mat-cell {
  cursor: pointer;
  //&:hover {
  //  * {
  //    text-decoration: underline;
  //  }
  //  text-decoration: underline;
  //}
}

.info_text {
  display: flex;
  flex-direction: column-reverse;
  span {
    color: rgba(0, 0, 0, .54);
    font-weight: 500;
  }

  p {
    margin-top: .3rem;
    font-size: 17px;
  }
}

.in_graph_indicator {
  display: inline;
  height: 10px;
  width: 10px;
  background: red;
  border-radius: 50%;

  &.active{
    background: $green-dark;
  }
  &::before {
    content: '';
    top: calc(48px / 2 - 5px);
    left: calc(29px / 2);
    height: 10px;
    width: 10px;
    background: $green-dark;
    border-radius: 50%;
    position: absolute;
  }
}

table ul {
  li:hover {
    background-color: whitesmoke;
  }
}

tr {

  &.mat-header-row {
    height: 32px;
  }
  &.mat-row:hover {
    background: whitesmoke;

    .example-element-detail{
      background: white;
    }
  }

  a {
    color: #333;
    text-decoration: none;
  }
  > td > .gmail_like {
    position: absolute;
    background: linear-gradient(270deg, #FFFFFF 40.72%, rgba(255, 255, 255, 0) 130%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    visibility: hidden;
  }

  > td > .gmail_like_solid {
    width: 50%;
    left: 50%;
    background: #FFFFFF;
  }

  &:hover {
    > td > .gmail_like {
      visibility: visible;
    }

    > td > a {
      color: #A6C36F;
    }
  }

}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

