<app-platform-breadcrumb></app-platform-breadcrumb>


<main *ngIf="(gplGraph$ | async) as gplData else loader" class="app-page">

  <div style="gap: 20px;top: 73px;position: sticky;align-self: flex-start;" class="v-flex">
    <app-platform-graph-filters></app-platform-graph-filters>

    <app-dataset-network-graph>
      <div @myInsertRemoveTrigger *ngIf="isShown" class="warning-toast">
        <mat-icon fontSet="material-icons-round">warning_amber</mat-icon>
        <span class="warning-action-action">{{studyId}}</span> is not visible in graph
      </div>
    </app-dataset-network-graph>
  </div>

  <!--    side panel with separate elements-->
  <div style="gap: 20px; z-index: 0" class="v-flex">

    <div *ngIf="(selectedNode$ | async) as selectedNode" class="v-flex align-flex-start as-card"
         style="overflow: hidden">

      <div class="h-flex space-between align-center"
           style="width: 100%;height: 68px;padding: 0 16px; border-bottom: 1px solid rgba(0,0,0,.12)">
        <p class="title title_2">Similar Datasets</p>


        <a [href]="downloadUrl">
          <button mat-flat-button class="app_button app_button_left_icon">
            <mat-icon fontSet="material-icons-round">play_for_work</mat-icon>
            Download all similar datasets
          </button>

        </a>
      </div>

      <table mat-table multiTemplateDataRows [dataSource]="similarDatasets"
             style="width: 100%">

        <ng-container matColumnDef="dataset_name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef="let element">
            {{element.to}}
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="dataset_qvalue">
          <th mat-header-cell *matHeaderCellDef>qvalue</th>
          <td mat-cell *matCellDef="let element">{{element.value}}</td>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="['dataset_name','dataset_qvalue'];sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: ['dataset_name','dataset_qvalue'];"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No results.</td>
        </tr>
      </table>


    </div>

    <ng-container *ngIf="(selectedEdge$ | async) as selectedEdge">
      <div class="v-flex as-card" style="padding: 0 16px;">
        <div class="h-flex space-between align-center">
          <div class="v-flex center" style="gap: 2px; height: 60px;">
            <p class="dataset-name">{{selectedEdge.from.label}}</p>
            <p class="dataset-disease">{{selectedEdge.from.group}}</p>
          </div>
          <button class="outline_button">
            <mat-icon fontSet="material-icons-round">play_for_work</mat-icon>
            Download Data & Annotation
          </button>
        </div>

        <!--   Divider     -->
        <div style="width: 100%; height: 1px; background: rgba(0,0,0,.12)"></div>

        <div class="h-flex space-between align-center">
          <div class="v-flex center" style="gap: 2px; height: 60px;">
            <p class="dataset-name">{{selectedEdge.to.label}}</p>
            <p class="dataset-disease">{{selectedEdge.to.group}}</p>
          </div>
          <button class="outline_button">
            <mat-icon fontSet="material-icons-round">play_for_work</mat-icon>
            Download Data & Annotation
          </button>
        </div>
      </div>

      <div class="v-flex align-flex-start as-card">
        <div class="h-flex space-between align-center"
             style="width: 100%;height: 58px;padding: 0 16px;">
          <p class="title title_4">Best explaining genes</p>

          <div class="h-flex" style="gap: 20px">
            <button class="icon_button" (click)="downloadGenes()">
              <mat-icon *ngIf="!waitingForGeneFile" fontSet="material-icons-round">play_for_work</mat-icon>
              <mat-spinner *ngIf="waitingForGeneFile" diameter="20"></mat-spinner>
            </button>

            <button class="solid_button">
              Perform Enrichment Analysis
            </button>
          </div>
        </div>

        <div class="h-flex space-between align-center"
             style="width: 100%;padding: 8px 16px 14px 16px; border-bottom: 1px solid rgba(0,0,0,.12)">

          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="h-flex"
            [(ngModel)]="limitGenes"
            (change)="fetchGenes()"
            style="gap: 10px">
            <mat-radio-button *ngFor="let limit of limits" [value]="limit">
              {{limit}}
            </mat-radio-button>
          </mat-radio-group>

          <mat-icon fontSet="material-icons-round">search</mat-icon>
        </div>

        <table mat-table multiTemplateDataRows [dataSource]="bestExplainingGene"
               style="width: 100%">

          <ng-container matColumnDef="gene">
            <th mat-header-cell *matHeaderCellDef> Gene</th>
            <td mat-cell *matCellDef="let element">
              {{element}}
            </td>
          </ng-container>
          <ng-container matColumnDef="view_on">
            <th mat-header-cell *matHeaderCellDef>View on</th>
            <td mat-cell *matCellDef="let element">
              <button mat-flat-button class="app_button">KEGG</button>
              <button style="margin-left: 10px" mat-flat-button class="app_button app_button_orange">GeneCards</button>

            </td>
          </ng-container>

          <tr mat-header-row
              *matHeaderRowDef="['gene','view_on'];sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: ['gene','view_on'];"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No results.</td>
          </tr>
        </table>

        <mat-paginator #paginator [pageSizeOptions]="[pageSize]"
                       style="visibility: hidden;opacity: 0;height: 0"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>


        <div class="h-flex space-between align-center app-table-paginator">
          <div style="">Total of {{bestExplainingGene.filteredData.length}} neighbors</div>
          <div class="h-flex align-center">
            <div> {{pageItemIndexFirst}} - {{pageItemIndexLast}} of {{bestExplainingGene.filteredData.length}} </div>

            <button (click)="prevPage()" [disabled]="!hasPrevious" mat-icon-button
                    aria-label="Example icon button with a menu icon">
              <mat-icon fontSet="material-icons-round">navigate_before</mat-icon>
            </button>

            <button (click)="nextPage()" [disabled]="!hasNext" mat-icon-button
                    aria-label="Example icon button with a menu icon">
              <mat-icon fontSet="material-icons-round">navigate_next</mat-icon>
            </button>
          </div>
        </div>

        <!--      <div class="h-flex align-center"-->
        <!--           style="gap:15px;width: 100%;height: 60px;padding: 0 16px; border-top: 1px solid rgba(0,0,0,.12)">-->
        <!--        <button (click)="downloadGenes()" mat-flat-button class="app_button app_button_left_icon">-->
        <!--          <mat-icon fontSet="material-icons-round">play_for_work</mat-icon>-->
        <!--          Download gene list</button>-->

        <!--        <button mat-flat-button class="app_button">-->
        <!--          Perform Enrichment Analysis</button>-->
        <!--      </div>-->


      </div>

    </ng-container>

    <div *ngIf="!(isEdgeNodeSelected$ | async)" style="padding: 0 17px" class="as-card">
      <div class="hint-with-badges" style="height: 56px">
        <p class="text">Select a</p>
        <div class="badge-node">NODE</div>
        <p class="text">or an</p>
        <div class="badge-edge">EDGE</div>
        <p class="text">from the network graph</p>
      </div>
    </div>

    <div *ngIf="!(isEdgeNodeSelected$ | async)" class="as-card with-padding">
      <p class="title title_2">Graph Legend</p>

      <div #userContent class="legend_list">
        <div class="legend_list_item" *ngFor="let item of gplData.categories">
          <div [style.background]="groupColors[item.name]?.color?.background || 'red'"></div>
          <p>{{item.name}}</p>
        </div>

      </div>

      <button *ngIf="gplData.categories.length > 10" mat-flat-button (click)="toggle()">
        View More
      </button>
    </div>

  </div>
</main>


<ng-template #loader>

  <main class="app-page">
    <div style="gap: 20px;" class="v-flex">
      <div class="loading_graph_filters">
        <div class="l_placeholder" style="width: 200px;height: 30px"></div>
        <div style="border-left: 1px solid rgba(0, 0, 0, 0.12);height: 39px"></div>
        <div class="l_placeholder" style="width: 200px;height: 30px"></div>
        <div style="border-left: 1px solid rgba(0, 0, 0, 0.12);height: 39px"></div>
        <div class="l_placeholder" style="width: 200px;height: 30px"></div>
      </div>

      <div class="as-card" style="height:800px;width: 100%; position:relative;">
      </div>
    </div>

    <div style="gap: 20px;" class="v-flex">
      <div class="as-card">

        <div class="v-flex" style="padding: 17px;gap: 31px">
          <div class="h-flex space-between">
            <div class="v-flex" style="gap: 9px">
              <div class="l_placeholder" style="width: 49px;height: 14px;"></div>
              <div class="l_placeholder" style="width: 163px;height: 21px;"></div>
            </div>

            <div class="h-flex align-flex-start" style="gap: 23px">
              <div class="l_placeholder l_placeholder_circle" style="width: 41px"></div>
              <div class="l_placeholder l_placeholder_circle" style="width: 41px"></div>
            </div>
          </div>

          <div class="h-flex" style="gap: 50px">
            <div class="l_placeholder" style="width: 147px;height: 14px;"></div>
            <div class="l_placeholder" style="width: 147px;height: 14px;"></div>
          </div>
        </div>

        <div style="width: 100%; height: 1px;border-bottom: 1px solid rgba(0, 0, 0, 0.12);"></div>

        <div class="v-flex" style="padding: 20px 17px; gap: 20px">

          <div class="h-flex align-center space-between">
            <div class="l_placeholder" style="width: 420px;height: 14px"></div>
            <div class="l_placeholder l_placeholder_circle" style="width: 30px"></div>
          </div>

          <div class="h-flex align-center space-between">
            <div class="l_placeholder" style="width: 420px;height: 14px"></div>
            <div class="l_placeholder l_placeholder_circle" style="width: 30px"></div>
          </div>

        </div>


      </div>

    </div>


  </main>
</ng-template>
