@use 'src/variables' as v;
@forward "src/util";


.graph-filter-bar {
  @extend .as-card, .h-flex, .align-center;
  padding: 19px 17px;
  gap: 15px;
  justify-content: flex-start;
  height: 94px;

  div {
    height: 56px;
  }

  .slider-icon {
    height: 30px;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    background-position: center;
    background-size: contain;

    &.slider-icon-1 {
      background-image: url("/assets/network_few_nodes.svg");
    }
    &.slider-icon-2 {
      background-image: url("/assets/network_many_nodes.svg");
    }


  }
}


.neighbor-depth-degree{
  @extend  .v-flex, .space-between;
  font-family: v.$primaryFontFamily;
  p {
    font-weight: 600;
    font-size: 14px;
    color: v.$green-light-1;
  }
  .degree_option {
    @extend .flex, .align-center, .center, .with-pointer;
    width: 40px;
    height: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    border-radius: 9px;
    color: v.$green-light-1;
    background-color: v.$green-transparent-3;
    transition: background-color 0.2s ease-out;
    text-transform: capitalize;
    &.degree_option_selected {
      background-color: v.$green-transparent-1;
    }

    &:hover {
      background-color: v.$green-transparent-1;
    }
  }

  &.disabled {
    * {
      pointer-events: none;
    }
    p {
      color: v.$grey-soft;
    }

    .degree_option {
      background: rgba(0, 0, 0, 0.05);
      color: rgba(0, 0, 0, 0.15);
    }
  }
}
