<div class="graph-filter-bar">
  <div class="h-flex align-center" style="gap: 6px">
    <div class="slider-icon slider-icon-2" aria-label="icon with many nodes"></div>
    <mat-slider [style.width]=" '120px'"
                [min]="minGraphEdgeFreq"
                [max]="maxGraphEdgeFreq"
                [value]="currSliderValue"
                step="1"
                color="primary"
                tickInterval="1"
                thumbLabel
                (input)="handleSliderInput($event)"></mat-slider>
    <div class="slider-icon slider-icon-1" aria-label="icon with few nodes"></div>
  </div>
  <div style="border-left: 1px solid rgba(0, 0, 0, 0.12);height: 39px"></div>
  <div style="width: 100%;max-width: 326px;">

    <mat-form-field style="width: 100%;" appearance="outline" class="example-full-width">
      <mat-label>Disease</mat-label>
      <input type="text"
             placeholder="sepsis"
             aria-label="Highlight disease"
             matInput
             [formControl]="highlightDiseaseControl"
             [matAutocomplete]="auto">
      <mat-autocomplete (optionSelected)="emitSelectedOption($event)" #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div style="border-left: 1px solid rgba(0, 0, 0, 0.12);height: 39px"></div>
  <div class="neighbor-depth-degree center" style="gap: 7px" [ngClass]="{disabled: (isDisabled$ | async)}">
    <p>Display all nodes</p>

    <mat-slide-toggle
      (ngModelChange)="setNeighborDegree($event)"
      [ngModel]="isToggleChecked"
      aria-label="Display all nodes"></mat-slide-toggle>

<!--    <div class="h-flex" style="gap: 9px; flex: 0 0 30px;">-->
<!--      <div *ngFor="let v of depthDegreeValues"-->
<!--           [ngClass]="{'degree_option_selected':v=== (depthDegree$ | async)}"-->
<!--           class="degree_option"-->
<!--           (click)="setNeighborDegree(v)"-->
<!--      >{{v}}</div>-->
<!--    </div>-->



  </div>
</div>
