<div class="example-element-detail-header" [ngClass]="[parentComponentName]">
  <span>Study ID Pairs</span>
  <button mat-icon-button aria-label="See more details">
    <mat-icon class="green-color"
              matTooltipClass="app-tooltip"
              [matTooltip]="'Between '+ primaryDisease +' and '+ secondaryDisease "
              fontSet="material-icons-round">help_rounded
    </mat-icon>
  </button>
</div>
<ul class="example-element-detail-body" [ngClass]="[parentComponentName]">
  <li *ngFor="let studyPair of studyPairs">
    <div [matTooltip]="primaryDisease +' - ' + secondaryDisease"
         matTooltipClass="app-tooltip"
         style="width:100%;gap: 25px" class="h-flex align-center">
      <span>{{studyPair.dA}}</span>
      <img src="assets/double-arrow.svg" alt="similarity-icon"/>
      <span>{{studyPair.dB}}</span>
    </div>
    <div style="width:100%;padding-right: 20px;" class="h-flex align-center justify-end">
      <a [href]="[studyPair.dA,studyPair.dB] | downloadUrl:'data'">
        <button mat-icon-button aria-label="Download data">
          <mat-icon class="green-color"
                    matTooltip="Download data"
                    matTooltipClass="app-tooltip"
                    fontSet="material-icons-round">get_app
          </mat-icon>
        </button>

      </a>
      <a [href]="[studyPair.dA,studyPair.dB] | downloadUrl:'annotation'">
        <button mat-icon-button aria-label="Download annotation">
          <mat-icon class="green-color"
                    matTooltip="Download annotation"
                    matTooltipClass="app-tooltip"
                    fontSet="material-icons-round">description
          </mat-icon>
        </button>
      </a>
    </div>
  </li>
</ul>
