<div class="graph-filters-inner h-flex">

  <div class="h-flex" style="position: relative">


    <button
      (click)="isGraphFilterMenuOpen = !isGraphFilterMenuOpen"
      class="flat_button app-button app-button__big_font"
      [ngClass]="{'flat_button__pressed': isGraphFilterMenuOpen}"
    >
      Graph Filters
      <span class="material-icons-round">filter_list</span>
    </button>


    <div [@openClose]="isGraphFilterMenuOpen" class="graph-filter-menu">
      <div class="graph-filter-menu-filters">
        <div class="graph-filter-menu-item v-flex">
          <div class="h-flex align-center space-between">
            <label class="filter-label">Number of similar studies</label>
            <mat-icon fontSet="material-icons-round" matTooltip="Info about the action"
                      aria-label="Button that displays a tooltip when focused or hovered over">info
            </mat-icon>
          </div>
          <div class="h-flex align-center" style="gap: 6px">
            <div class="slider-icon slider-icon-2" aria-label="icon with many nodes"></div>
            <mat-slider [style.width]="'120px'"
                        [min]="0"
                        [max]="10"
                        [value]="2"
                        step="1"
                        color="primary"
                        tickInterval="1"
                        thumbLabel></mat-slider>
            <div class="slider-icon slider-icon-1" aria-label="icon with few nodes"></div>
          </div>
        </div>

        <div class="graph-filter-menu-item" style="max-width: 326px;">

          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Highlight disease</mat-label>
            <input type="text"
                   placeholder="sepsis"
                   aria-label="Highlight disease"
                   matInput
                   [matAutocomplete]="auto">
            <mat-autocomplete  #auto="matAutocomplete">
<!--              <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">-->
<!--                {{option}}-->
<!--              </mat-option>-->
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="graph-filter-menu-item h-flex align-center space-between" style="height: 30px" [ngClass]="{disabled: false}">
          <label class="filter-label">Display all nodes</label>
          <mat-slide-toggle
            aria-label="Display all nodes"></mat-slide-toggle>
        </div>
      </div>
      <div class="graph-filter-menu-action flex">
        <button class="outline_button app-button__fluid">
          <span class="material-icons-round">restart_alt</span>
          Reset filters
        </button>
      </div>

    </div>

  </div>


  <div class="h-flex-wrap" style="gap: 10px">

    <button class="icon_button" (click)="zoomIn()">
      <mat-icon fontSet="material-icons-round">zoom_in</mat-icon>
    </button>

    <button class="icon_button" (click)="zoomOut()">
      <mat-icon fontSet="material-icons-round">zoom_out</mat-icon>
    </button>

    <button class="outline_button" (click)="reset()">
      <span class="material-icons-round">restart_alt</span>
      Reset graph
    </button>

    <button class="solid_button" (click)="savePng()">
      <mat-icon fontSet="material-icons-round">save</mat-icon>
      Save as image
    </button>
  </div>

</div>
