<main class="error-page-container h-flex align-center center">
  <img class="error-illustration" src="assets/aliens_illustration.svg" alt="404 page illustration"/>

  <div class="v-flex align-flex-start" style="gap: 10px; padding: 10px">
    <span class="error-heading">Oops!</span>
    <h1 *ngIf="withErrorCode">This page has been abducted</h1>
    <h1 *ngIf="!withErrorCode">Something went wrong</h1>
    <h3 *ngIf="fromPage==='phenonet'">
      It appears ‘<span class="h">{{fromPageArg}}</span>’ is not part of the Phenonet graph
    </h3>
    <h3 *ngIf="withErrorCode">Error Code: {{errorCode}}</h3>

    <button class="outline_button" style="margin-top: 8px" routerLink="/">
      Back to Homepage
    </button>
  </div>

</main>
