.navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;

  .logo {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
  }
  /*Overiding Material Design*/
  .mat-button-disabled {
    color: #b9b9b9;
  }
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  background-color: #fff;
  border: 1px solid #1e352f;
  color: #1e352f;
  cursor: pointer;
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 3.125rem;
  font-weight: 600;
  color: #1e352f;

  & > span {
    margin-right: 0.5rem;
  }
}

.example_searches {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  a {
    //margin: 0 5px;
    color: #1e352f;
    text-decoration: none;

    span {
      font-size: 18px;
    }
    //&:hover {
    //  //text-decoration: underline;
    //}
  }
}


.features {
  width: 860px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 3rem 0;
  .feature {
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 1rem;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0.5rem;

    &:hover {
      cursor: pointer;
      border: 1px solid #dfe1e5;
    }
    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
      border: 3px solid #1e352f;
    }

    .details {
      .title {
        font-size: 2rem;
        margin: 0.67em 0;
      }
    }
  }
}
