<link rel="stylesheet" href="homepage.component.scss">
<nav  class="navbar-header" [class.scrolled]="userHasScrolled">

  <div style="flex-grow: 1"></div>
  <a mat-button href="/phenonet" routerLink="phenonet">Phenonet</a>
  <a mat-button href="/vis" routerLink="vis">Visualisation</a>
  <a mat-button disabled>Search</a>
  <a mat-button disabled>Download</a>
  <a mat-button disabled>Help</a>
</nav>

<div class="top_container">

  <h1>
    <span style="font-size: inherit" class="material-icons-round">bar_chart</span>
    Data Repurposing
  </h1>

  <div class="example_searches" style="font-family: 'Source Sans Pro', sans-serif">
    Example searches:

    <mat-chip-list aria-label="Search examples">
      <a href="/v2/phenonet" routerLink="/v2/phenonet">
        <mat-chip color="primary" selected>
          <span class="material-icons-round">open_in_new</span>
          v2</mat-chip>
      </a>

      <a href="/phenonet" routerLink="/phenonet">
        <mat-chip color="primary" selected>
          <span class="material-icons-round">open_in_new</span>
          Phenonet</mat-chip>
      </a>




      <a href="/disease/sepsis" routerLink="/disease/sepsis">
        <mat-chip color="primary" selected>
          <span class="material-icons-round">search</span>
          sepsis</mat-chip>
      </a>
      <a href="/disease/asthma" routerLink="/disease/asthma">
        <mat-chip color="primary" selected>
          <span class="material-icons-round">search</span>
          asthma</mat-chip>
      </a>
      <a href="/disease/breast cancer" routerLink="/disease/breast cancer">
        <mat-chip color="primary" selected>
          <span class="material-icons-round">search</span>
          breast cancer</mat-chip>
      </a>
      <a href="/disease/breast cancer" routerLink="/disease/breast cancer">
        <mat-chip color="primary" selected>
          <span class="material-icons-round">description</span>
          GSExxxx</mat-chip>
      </a>
      <a routerLink="/dataset-network">
        <mat-chip color="primary" selected>
          <span class="material-icons-round">description</span>
          GPL96</mat-chip>
      </a>
    </mat-chip-list>
    <!--    <a href="">sepsis</a>-->
    <!--    <a href="">asthma</a>-->
    <!--    <a href="">breast cancer</a>-->
  </div>

  <app-toolbar-search mode="diseases"></app-toolbar-search>


  <!--  <div routerLink="/phenonet" class="features" style="margin-top: 3rem;">-->
  <!--    <div class="feature">-->
  <!--      <img src="https://public-media.interaction-design.org/images/uploads/49cc66880bd19f638136237261b1066e.jpg"/>-->
  <!--      <div class="details">-->
  <!--        <h2 class="title">Phenotype network</h2>-->
  <!--        <p class="info">In phenotype network, each node represents a phenotype. Phenotype network is an aggregation network from individual dataset networks, where two nodes are connected by an edge whenever a dataset of phenotype A has been found similar to a dataset of phenotype B in any dataset network of the same species. Edge weight represents the frequency of the similarity (A,B) (more details).</p>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--    <div routerLink="/phenonet" class="feature">-->
  <!--      <img src="https://public-media.interaction-design.org/images/uploads/49cc66880bd19f638136237261b1066e.jpg"/>-->
  <!--      <div class="details">-->
  <!--        <h2 class="title">Dataset network</h2>-->
  <!--        <p class="info">In dataset networks, each node represents a dataset. Edges represent similarities between datasets, as distances between two empirical, multivariable, statistical distributions, intuitively implying that molecular quantities measured in the two datasets are inter-correlated in a similar way, i.e., the covariance matrices are similar. Computation in these networks is unsupervised and depends only on the omics data distributions, ignoring any annotation or labeling of each dataset (more details).</p>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

</div>

<section style="background: #4d7267;">
  <div class="section_container">

    <div style="display: flex;flex-direction: column;width: 100%; flex-wrap: wrap; align-items: flex-start;">
      <h1>Phenotype network</h1>
      <p>In phenotype network, each node represents a phenotype. Phenotype network is an aggregation network from individual dataset networks, where two nodes are connected by an edge whenever a dataset of phenotype A has been found similar to a dataset of phenotype B in any dataset network of the same species. Edge weight represents the frequency of the similarity (A,B).</p>
      <div style="display: flex;gap: .5rem">
        <button mat-raised-button>Explore</button>
      </div>

    </div>

    <img src="https://public-media.interaction-design.org/images/uploads/49cc66880bd19f638136237261b1066e.jpg"/>
  </div>
</section>

<section >
  <div class="section_container reverse">
    <img src="https://public-media.interaction-design.org/images/uploads/49cc66880bd19f638136237261b1066e.jpg"/>
    <div style="display: flex;flex-direction: column;">
      <h1>Dataset network</h1>
      <p>In dataset networks, each node represents a dataset. Edges represent similarities between datasets, as distances between two empirical, multivariable, statistical distributions, intuitively implying that molecular quantities measured in the two datasets are inter-correlated in a similar way, i.e., the covariance matrices are similar. Computation in these networks is unsupervised and depends only on the omics data distributions, ignoring any annotation or labeling of each dataset.</p>
      <div style="display: flex;gap: .5rem">
        <button mat-raised-button>Explore</button>
        <button mat-button color="primary">Read More</button>
      </div>
    </div>
  </div>
</section>

