<nav class="navbar-header">

  <a class="logo h-flex align-center" style="gap: 15px" href="/" routerLink="/">
    <span class="material-icons-round">bar_chart</span>
    Data Repurposing
  </a>
  <app-search-bar style="flex-grow: 1; width: 100%; height: 100%; padding: 3px 0;" class="flex center"></app-search-bar>


  <div class="h-flex nav-item-container">
    <a class="nav-item" routerLink="/v3" routerLinkActive="nav-item-active">Phenonet</a>
    <a class="nav-item" routerLink="/vis" routerLinkActive="nav-item-active">Dataset Networks</a>
    <a class="nav-item" routerLink="/vis" routerLinkActive="nav-item-active">FAQ</a>
  </div>
</nav>
