.info_text {
  span {
    color: rgba(0, 0, 0, .54);
    font-weight: 500;
  }

  p {
    margin-top: .3rem;
    font-size: 17px;
  }
}

tr {

  &.mat-header-row {
    height: 32px;
  }
  &.mat-row:hover {
    background: whitesmoke;
  }
  > td > .gmail_like {
    position: absolute;
    background: linear-gradient(270deg, #FFFFFF 40.72%, rgba(255, 255, 255, 0) 130%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    visibility: hidden;
  }

  > td > .gmail_like_solid {
    width: 50%;
    left: 50%;
    background: #FFFFFF;
  }

  &:hover {
    > td > .gmail_like {
      visibility: visible;
    }
  }

}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  position: relative;
  padding-right: 5px;
}
