@use "src/variables" as v;
@forward "src/util";
#jaja:focus-within {
  .search-results {
    display: block;
    height: auto;
  }
}

.search-results {
  display: none;
  @extend .with-radius;
  position: absolute;
  width: 100%;
  height: 0;
  max-height: 400px;
  overflow: auto;
  top: 50px;
  background: #FFFFFF;
  box-shadow: v.$drop-shadow-1;
  z-index: 99;

  ul {
    @extend .v-flex;
    list-style: none;
    padding: 10px;
    margin: 0;

    li {
      @extend .with-radius, .h-flex;
      align-items: center;
      height: 30px;
      text-indent: 28px;
      width: 100%;
      font-size: 1rem;
      color: v.$text-black-1;


      a {
        width: 100%;
        text-decoration: none;
        color: inherit;
      }

      &:hover {
        background-color: v.$green-transparent-2;
      }
    }
  }
}

.network-searchbar {
  width: 100%;
  padding: 0 32px;
  max-width: v.$networksMaxWidth;
  font-family: v.$primaryFontFamily;
  display: flex;
  align-items: center;
  gap:15px;

  .network-name{
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    /* green_color */
    color: v.$green-dark;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  input {
    font-family: v.$primaryFontFamily;
    font-size: 1rem;
    font-weight: 500;
    line-height: 22px;
    border: none;
    width: 100%;
    max-width: 700px;
    padding: 12px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    appearance: none;
    outline: none;
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: v.$green-light-1;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: v.$green-light-1;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: v.$green-light-1;
    }

    &:focus {
      border-bottom-color: v.$green-light-1;
    }
  }


}
