<app-navbar style="width: 100%" class="mat-elevation-z6"></app-navbar>


<div
  style="width: 100%; display: flex; justify-content: center; align-items: center; border-bottom: 1px solid rgba(0, 0, 0, 0.12);">
  <div class="network-searchbar">
    <div class="network-name">
      Phenonet
      <mat-icon aria-label="Expand" fontSet="material-icons-round">expand_more</mat-icon>
    </div>

    <div id="jaja"  style="position: relative;gap:15px; width: 100%; max-width: 755px" class="h-flex align-center">
      <div style="border-left: 1px solid rgba(0, 0, 0, 0.12);height: 28px"></div>
      <mat-icon aria-label="search" style="color:#9AA0A6" fontSet="material-icons-round">search</mat-icon>
      <input (focusin)="searchFocused = true"
             (focusout)="searchFocused = false"
             (ngModelChange)="onSearchPhenonet($event)"
             [(ngModel)]="searchBarPhenotype"
             type="text"
             placeholder="Search phenotypes"/>

      <div *ngIf="searchRecommendations.length" class="search-results">
        <ul>
          <li class="search_suggestion" *ngFor="let suggestion of searchRecommendations">
            <a [href]="'/v2/phenonet/'+suggestion" [routerLink]="'/v2/phenonet/'+suggestion">
              {{suggestion}}
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</div>

<main class="app-two-column-grid">
  <div style="gap: 35px;" class="v-flex">
    <app-graph-filter-bar
      [minGraphEdgeFreq]="minGraphEdgeFreq"
      [maxGraphEdgeFreq]="maxGraphEdgeFreq"
      (onSliderInput)="handleSliderInput($event)"
    ></app-graph-filter-bar>

    <div class="as-card" style="height:800px;width: 100%; position:relative;/*overflow: hidden*/">
      <div class="graph-controls v-flex">
        <button mat-icon-button aria-label="See more details">
          <mat-icon class="green-color" fontSet="material-icons-round">zoom_in</mat-icon>
        </button>
        <button mat-icon-button aria-label="See more details">
          <mat-icon class="green-color" fontSet="material-icons-round">zoom_out</mat-icon>
        </button>
        <button mat-icon-button aria-label="See more details">
          <mat-icon class="green-color" fontSet="material-icons-round">zoom_out_map</mat-icon>
        </button>
        <button mat-icon-button aria-label="See more details">
          <mat-icon class="green-color" fontSet="material-icons-round">save</mat-icon>
        </button>
      </div>

      <div class="graph-area">
        <div
          class="network-canvas"
          [visNetwork]="visNetwork"
          [visNetworkData]="visNetworkData"
          [visNetworkOptions]="visNetworkOptions"
          (initialized)="networkInitialized()"
        ></div>
      </div>

    </div>


  </div>

  <div style="gap: 35px;" class="v-flex">
    <div *ngIf="!mainDisease" class="as-card with-padding">
      <p class="title-1">Phenonet</p>
      <div class="phenonet-all-hint">
        <p class="text">Select a</p>
        <div class="badge-node">NODE</div>
        <p class="text">or an</p>
        <div class="badge-edge">EDGE</div>
        <p class="text">from the network graph</p>
      </div>
    </div>


    <!--    <div style="display: flex;align-items: flex-start; flex-direction: column;gap:9px;padding-bottom: 35px" class="as-card with-padding">-->
    <!--      <div class="badge-node">NODE</div>-->
    <!--      <p class="title-1">GSE46184</p>-->
    <!--      <p class="subtitle-1 text-light-green">breast cancer</p>-->
    <!--    </div>-->

    <!--    <div style="display: flex;align-items: flex-start; flex-direction: column;gap:9px;padding-bottom: 35px" class="as-card with-padding">-->
    <!--      <div class="badge-edge">EDGE</div>-->

    <!--      <div style="display: flex;gap:6px;">-->

    <!--        <div class="v-flex" style="gap:9px;">-->
    <!--          <p class="title-1">GSE46184</p>-->
    <!--          <p class="subtitle-1 text-light-green"  style="max-width: 150px">breast cancer</p>-->
    <!--        </div>-->


    <!--        <div> <p class="title-1">-</p></div>-->

    <!--        <div class="v-flex" style="gap:9px;">-->
    <!--          <p class="title-1">GSE39088</p>-->
    <!--          <p class="subtitle-1 text-light-green" style="max-width: 150px">systemic lupus erythematosus </p>-->
    <!--        </div>-->

    <!--      </div>-->

    <!--    </div>-->


    <div *ngIf="mainDisease" class="info-panel">

      <div class="info-panel-top-part">
        <div class="v-flex align-flex-start" style="gap:9px;">
          <div class="badge-node">NODE</div>
          <p class="title-1" style="max-width: 270px">{{mainDisease}}</p>
        </div>


        <div class="h-flex" style="gap: 32px;margin-right: 10px;">

          <div class="statistic-info">
            <p class="stat-description">
              Neighbors
            </p>
            <p class="stat-value">
              {{mainDiseaseNeighborsCount}}
            </p>
          </div>

          <div class="statistic-info">
            <p class="stat-description">
              Studies
            </p>
            <p class="stat-value">
              {{mainDiseaseStudiesCount}}
            </p>
          </div>
        </div>


      </div>

      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Neighbors">
          <div style="height: 100%;width: 100%; overflow: hidden">
            <!-- This outer div is required, otherwise expanded rows on table are being auto expanded when changing between tabs -->
            <app-neighbors-table [connectedNodes]="connectedNodes" [mainDisease]="mainDisease"></app-neighbors-table>
          </div>
        </mat-tab>
        <mat-tab label="Studies">
          <div style="height: 100%;width: 100%; overflow: hidden">
            <!-- This outer div is required, otherwise expanded rows on table are being auto expanded when changing between tabs -->
            <app-studies-table [studies]="studies"></app-studies-table>
          </div>
        </mat-tab>
      </mat-tab-group>


    </div>
  </div>
</main>
