@use 'src/variables' as v;
@import "src/mat-table-appearance";

#jaja:focus-within {
  .search-results {
    display: block;
    height: auto;
  }
}

.search-results {
  display: none;
  @extend .with-radius;
  position: absolute;
  width: 100%;
  height: 0;
  max-height: 400px;
  overflow: auto;
  top: 50px;
  background: #FFFFFF;
  box-shadow: v.$drop-shadow-1;
  z-index: 99;

  ul {
    @extend .v-flex;
    list-style: none;
    padding: 10px;
    margin: 0;

    li {
      @extend .with-radius, .h-flex;
      align-items: center;
      height: 30px;
      text-indent: 28px;
      width: 100%;
      font-size: 1rem;
      color: v.$text-black-1;


      a {
        width: 100%;
        text-decoration: none;
        color: inherit;
      }

      &:hover {
        background-color: v.$green-transparent-2;
      }
    }
  }
}


.network-searchbar {
  width: 100%;
  padding: 0 32px;
  max-width: v.$networksMaxWidth;
  font-family: v.$primaryFontFamily;
  display: flex;
  align-items: center;
  gap:15px;

  .network-name{
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    /* green_color */
    color: v.$green-dark;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  input {
    font-family: v.$primaryFontFamily;
    font-size: 1rem;
    font-weight: 500;
    line-height: 22px;
    border: none;
    width: 100%;
    max-width: 700px;
    padding: 12px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    appearance: none;
    outline: none;
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: v.$green-light-1;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: v.$green-light-1;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: v.$green-light-1;
    }

    &:focus {
      border-bottom-color: v.$green-light-1;
    }
  }


}

.info-panel {
  @extend .as-card, .v-flex;
  overflow: hidden;


  .info-panel-top-part {
    @extend .h-flex, .space-between;
    padding: v.$d-padding v.$d-padding 0 v.$d-padding;

    .statistic-info {
      @extend  .v-flex;
      gap: 5px;
      font-family: Roboto, sans-serif;

      p {
        margin: 0;
      }

      .stat-description {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.54);
      }

      .stat-value {
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 20px;
        color: #000000;
      }

    }
  }
}


.title-1 {
  font-family: v.$primaryFontFamily;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.75rem;
  margin: 0;

  &.truncate {
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.subtitle-1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 16px;
  margin: 0;
}

.phenonet-all-hint {
  display: flex;
  flex-direction: row;
  font-family: v.$primaryFontFamily;
  //justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0;
  height: 49px;
  p{
    margin: 0;
  }
  .text {
    font-family: v.$primaryFontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: .875rem;
    line-height: 19px;
    color: v.$text-black-1
  }
}

.loading_top_bar {
  width: 100%;
  padding: 0 32px;
  max-width: v.$networksMaxWidth;
  font-family: v.$primaryFontFamily;
  display: flex;
  align-items: center;
  gap:15px;
}

.loading_graph_filters {
  @extend .as-card, .h-flex, .align-center;
  padding: 19px 17px;
  gap: 15px;
  justify-content: flex-start;
  height: 94px;
}

.l_placeholder {
  @extend .with-radius;
  background: rgba(77, 114, 103, 0.2);
  background: rgb(77,114,103);
  background: linear-gradient(-45deg, rgba(77,114,103,0.15),rgba(77,114,103,0.05));
  background-size: 400% 400%;
  border-radius: 11px;
  animation: bg 1s ease infinite;

  &_circle {
    aspect-ratio: 1/1;
    border-radius: 100%;
  }
}

@keyframes bg {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
