@use 'src/variables' as v;
@use 'src/util' as u;
@use 'base_button' as b;

/*
* Outline Button
 */
@mixin outline_button_pressed {
  border-color: map-get(v.$green-sec, 100);
  background-color: map-get(v.$light-green, 20);
  color: map-get(v.$green-sec, 100);
}

@mixin outline_button_hovered {
  background-color: map-get(v.$light-green, 5);
}

@mixin outline_button {
  @include b.button_base;
  border: .1rem solid map-get(v.$light-green, 20);
  background-color: transparent;
  color: map-get(v.$light-green, 100);
}

.outline_button {
  @include outline_button;
  &:hover {
    @include outline_button_hovered;
  }
  &:active {
    @include outline_button_pressed;
  }
}

a.outline_button {
  text-decoration: unset;
}
