@use "src/util" as u;
@use "src/variables" as v;
@use "src/styles/helpers/breakpoints" as brk;

main.search-page-container {
  display: grid;
  grid-template-columns: 320px auto;
  max-width: 1224px;
  height: 100%;
  width: 100%;
  margin: auto;
  font-family: v.$primaryFontFamily;

  @include brk.tablet {
    display: flex;
    flex-direction: column;
    max-width: 100%
  }


  .results-section,
  .filters-section {
    padding: u.toRem(32);
    @include brk.tablet {
      padding: 1.5rem;
    }
  }

  .filters-section {
    .filters-section-inner {
      gap: 20px;
      top: 32px;
      position: sticky;

      @include brk.tablet {
        gap: 10px;
      }
    }


    .filter_by_text,
    .filter-name {
      font-style: normal;
      font-weight: 700;
    }

    .filter_by_text {
      font-size: u.toRem(14);
      line-height: 1.2;
      height: 38px;
      color: map-get(v.$light-green, 100)
    }

    .filter-name,
    .filter-items {
      font-size: u.toRem(12);
      line-height: u.toRem(16);
    }

    .filter-name {
      color: v.$search-2;
    }

    .filter-action {
      color: map-get(v.$light-green, 100);
      font-size: u.toRem(12);
      cursor: pointer;
      background: v.$app-bg-color;
      border: none;
    }

    .filter-items {
      display: flex;
      flex-direction: column;
      gap: u.toRem(8);
      @include brk.tablet {
        flex-direction: row;
      }
    }

  }

  .results-section {
    gap: 30px;

    .results-section-divider {
      height: 1px;
      background: map-get(v.$black, 12);
      width: 100%;
    }

    .search-result {
      display: flex;
      justify-content: space-between;
      align-items: center;
      word-spacing: 1px;
      padding: 0.8rem 0;

      .search-result-name {
        text-transform: capitalize;
        font-family: inherit;
        font-weight: 700;
        color: map-get(v.$light-green, 100);
        font-size: u.toRem(14);
      }

      .search-result-details {
        text-transform: capitalize;
        font-weight: 500;
        color: map-get(v.$black, 54);
        font-size: u.toRem(13);
      }

      button {
        opacity: 0;
        visibility: hidden;
      }

      &:hover {
        button {
          opacity: 1;
          visibility: visible;
        }
      }
    }

  }

  > div {
    height: 90vh;
    width: 100%;
    background: grey;
  }

  > div:nth-child(1) {
    background: red;
    height: 400px;
  }
}
