<div class="breadcrumb-inner h-flex">

  <ng-container *ngIf="platform$ | async as platform">

    <a [routerLink]="'/v3/platforms/' + platform">
      <span class="breadcrumb-base">{{platform}}</span>
    </a>

  </ng-container>

  <ng-container *ngIf="isEdgeNodeSelected$ | async">
    <mat-icon class="material-icons-round">chevron_right</mat-icon>

    <ng-container *ngIf="selectedNode$ | async as selectedNode">
      <div class="breadcrumb-layer-node h-flex">
        <div class="badge-node">NODE</div>
        <div class="v-flex center" style="gap: 2px; height: 45px;">
          <p class="dataset-name">{{selectedNode.label}}</p>
          <p class="dataset-disease">{{selectedNode.group}}</p>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selectedEdge$ | async as selectedEdge">

      <div class="breadcrumb-layer-node h-flex">
        <div class="v-flex center" style="gap: 2px; height: 45px;">
          <p class="dataset-name">{{selectedEdge.from.label}}</p>
          <p class="dataset-disease">{{selectedEdge.from.group}}</p>
        </div>
        <div class="v-flex align-center center" style="gap: 5px">
          <div class="badge-edge">EDGE</div>
          <img style="height: 10px" alt="icon indicating an edge between two nodes" src="assets/double-arrow-small.svg"/>
        </div>
        <div class="v-flex center" style="gap: 2px; height: 45px;">
          <p class="dataset-name">{{selectedEdge.to.label}}</p>
          <p class="dataset-disease">{{selectedEdge.to.group}}</p>
        </div>
      </div>

    </ng-container>
  </ng-container>

</div>
