@use 'src/variables' as v;
@use 'src/util' as u;


@mixin outline_button_pressed {
  border-color: map-get(v.$green-sec, 100);
  background-color: map-get(v.$light-green, 20);
  color: map-get(v.$green-sec, 100);
}

@mixin outline_button_hovered {
  background-color: map-get(v.$light-green, 5);
}

@mixin outline_button {
  font-family: inherit;
  padding: 3px 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-weight: 600;
  height: 38px;
  cursor: pointer;

  border: .1rem solid map-get(v.$light-green, 20);
  background-color: transparent;
  color: map-get(v.$light-green, 100);

  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.outline_button {
  @include outline_button;

  &:hover {
    @include outline_button_hovered;
  }

  &:active {
    @include outline_button_pressed;
  }
}
