/* You can add global styles to this file, and also import other style files */
@use "variables" as v;
@use "sass:map";
@forward "util";
@import "~vis-network/styles/vis-network.css";
* { box-sizing: border-box}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-navbar {
  color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.mat-header-cell, .mat-header-row{
  position: sticky;
  top:0;
  background: white;
}
.mat-tab-label[aria-selected='true'] {
  color: v.$green-light-1;
  opacity: 1;
}

app-disease-network,
app-dataset-network,
app-disease-page{
  display: grid;
  grid-template-rows: 52px 1fr;
}

app-phenonet-network,
app-dataset-network2{
  display: grid;
  justify-items: center;
  grid-template-rows: 52px 64px 1fr;
}


.network-canvas .vis-network {
  outline: none;
}


.logo span.mat-button-wrapper {
  display: flex;
  align-items: center;
}

a:not(.mat-button) {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}

a.title, a .title {
  color: black;
}

//.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
//  top: 18px;
//}
//.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
//  height: 12px;
//  border-radius: 10px
//}
//.mat-slider.mat-slider-horizontal .mat-slider-track-background,
//.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
//  height: 100%;
//}
//.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
//  background-color: blue;
//}
//.mat-accent .mat-slider-thumb {
//  height: 30px;
//  width: 30px;
//  background-color: white;
//  border: solid 2px gray;
//  bottom: -20px;
//  right: -20px;
//}
//.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
//  background-color: white;
//}


.mat-tab-body-wrapper {
  height: calc(100% - 176px);
}

.info-panel .mat-tab-body-wrapper {
  height: auto;
}


.mat-typography p {
  margin: 0;
}

.app-tooltip {
  background-color: v.$green-dark;
  padding: 0;
  border-radius: 4px;
  font-weight: 400;
  font-size: 10px;
}


.mat-flat-button.app_button {

  .mat-button-wrapper {
    @extend .h-flex, .align-center;
    gap: 6px;
  }
  @extend .with-radius, .with-manrope;
  background-color: map-get(v.$light-green,20);
  //color: #2C4D44;
  color: map-get(v.$light-green,100);
  font-weight: 600;
  //border: 0;
  border: 1px solid transparent;
  font-size: 14px;
  //height: 30px;
  padding: 0 12px;

  transition: all .2s ease;



  &_left_icon {
    padding-left: 4px;
  }

  &_right_icon {
    padding-right: 4px;
  }

  &:active {
    border: 1px solid map-get(v.$light-green,100);
    background-color: map-get(v.$light-green,30);
  }

}

.mat-flat-button .mat-ripple-element {
  opacity: 0.1;
}


.mat-slide-toggle {

  &:not(.mat-disabled) {
    .mat-slide-toggle-bar {
      background: #DADADA;
    }

    .mat-slide-toggle-thumb {
      background: #ABABAB;
    }
  }


  &.mat-checked {
    .mat-slide-toggle-ripple .mat-ripple-element {
      background-color:  map.get(v.$light-green, 100);
    }
    &:not(.mat-disabled) {
      .mat-slide-toggle-bar {
        background-color:  map.get(v.$light-green, 20);
      }

      .mat-slide-toggle-thumb {
        background-color:  map.get(v.$light-green, 100);
      }
    }
  }
}

.mat-ripple.mat-button-ripple {
  .mat-ripple-element {
    background-color: map.get(v.$green, 100);
  }
}

//.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle , .mat-radio-outer-circle {
//  border-color: blue !important;
//}

//.mat-radio-button.mat-accent .mat-radio-inner-circle{
//  background-color: blue !important;
//}


.mat-radio-button.mat-accent {

  //.mat-radio-outer-circle{
  //  border-color: map.get(v.$light-green, 100);
  //}
  .mat-radio-inner-circle {
    background-color: map.get(v.$light-green, 100);
  }

  .mat-radio-ripple .mat-ripple-element {
    background-color: map.get(v.$light-green, 100) !important;
  }


 &.mat-radio-checked {
   .mat-radio-outer-circle{
     border-color: map.get(v.$light-green, 100);
   }
 }
}
