/* You can add global styles to this file, and also import other style files */
@import "~vis-network/styles/vis-network.css";
* { box-sizing: border-box}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-navbar {
  color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

app-disease-network,
app-disease-page{
  display: grid;
  grid-template-rows: 52px 1fr;
}

.network-canvas .vis-network {
  outline: none;
}


.logo span.mat-button-wrapper {
  display: flex;
  align-items: center;
}
