@use 'variables' as v;


/* Flexbox classes */
@mixin flex {
  display: flex;
}
.flex {
  @include flex;
}

.align-flex-start {
  align-items: flex-start;
}

.align-flex-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

@mixin h-flex {
  @include flex;
  flex-direction: row;
}
.h-flex {
  @include h-flex;
}

@mixin v-flex {
  @include flex;
  flex-direction: column;
}
.v-flex {
  @include v-flex;
}

@mixin h-flex-wrap {
  @include flex;
  flex-flow: row wrap;
}

.h-flex-wrap {
  @include h-flex-wrap;
}

/* END: Flexbox classes*/


/* Layout */
.app-two-column-grid {
  margin: 33px 0;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 521px;
  gap: 35px;
  padding: 0 32px;
  max-width: v.$pageMaxWidth;
}

.app-page {
  margin-top: 20px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 521px;
  max-width: v.$pageMaxWidth;
  gap: 20px;
  padding: 0 20px;
}

.as-card {
  border-radius: 11px;
  border: 1px solid v.$grey-light-1;

  &.with-padding {
    padding: v.$d-padding;
  }
}

@mixin with_manrope {
  font-family: v.$primaryFontFamily;
}

.with-manrope {
  @include with_manrope;
}

@mixin with_radius {
  border-radius: 11px;
}

.with-radius {
  @include with_radius;
}

.with-pointer {
  cursor: pointer;
}

.badge-node, .badge-edge {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: .75rem;
  line-height: 12px;
  color: #fff;
  background: v.$green-light-1;
  padding: 3px 4px;
  border-radius: 2px;
}

.badge-edge {
  background: map-get(v.$orange, 100);
}

.hint-with-badges {
  display: flex;
  flex-direction: row;
  font-family: v.$primaryFontFamily;
  //justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0;
  height: 49px;

  p {
    margin: 0;
  }

  .text {
    font-family: v.$primaryFontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: .875rem;
    line-height: 19px;
    color: v.$text-black-1
  }
}


/* END:Layout */


/* Typography */

.title, .subtitle {
  font-style: normal;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.title {
  font-family: v.$primaryFontFamily;
  line-height: 1.4;

  &_1 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.75rem;
  }

  &_2 {
    font-size: 1.375rem;
    font-weight: 700;
  }

  &_3 {
    font-size: 1.125rem;
    font-weight: 700;
  }

  &_4 {
    font-size: 15px;
    font-weight: 600;
  }

  &.truncate {
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.subtitle {
  font-family: 'Roboto', sans-serif;

  &_1 {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.2;
  }
}

/* END:Typography */


/* Colors */
.mat-icon.green-color, .text-light-green {
  color: v.$green-light-1;
}

/* Functions */
@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

/* Functions */
@function toEm($value) {
  $remValue: ($value / 16) + em;
  @return $remValue;
}


