/* New Color Naming */
$green: (
  100: #1e352f
);

$green-sec: (
  100: #33574C
);

$light-green: (
  100: #4D7267,
  40: rgba(77, 114, 103, 0.4),
  30: rgba(77, 114, 103, 0.3),
  20: rgba(77, 114, 103, 0.2),
  10: rgba(77, 114, 103, 0.1),
  5: rgba(77, 114, 103, 0.05)
);

$black: (
  100: #000,
  87: rgba(0, 0, 0, 0.87),
  54: rgba(0, 0, 0, 0.54),
  12: rgba(0, 0, 0, 0.12),
  8: rgba(0, 0, 0, 0.08)
);

$grey: (
  100: #d9d9d9,
  35: rgba(217, 217, 217, 0.35)
);

$orange: (
  100: #E1954F,
  40: #E1954F66,
  30: #E1954F4D,
  20: #E1954F34,
);

$warn: (
  text: #5E3A04,
  bg: #FFD698,
);


$search-2: #757575;
$search-icon-color: #9AA0A6;


$disabled-color: #B9B9B9;

$green-dark: #1e352f;
$green-light-1: #4D7267;
$green-light-2: #D9E8E4;


$grey-soft: #dfe1e5;

$grey-light-1: rgba(0, 0, 0, 0.12);
$text-black-1: rgba(0, 0, 0, 0.87);


$green-transparent-1: rgba(77, 114, 103, 0.2);
/* table_row_on_hover_bg */
$green-transparent-2: rgba(88, 130, 118, 0.06);
$green-transparent-3: rgba(77, 114, 103, 0.05);

$drop-shadow-1: 0px 1px 6px rgba(32, 33, 36, 0.28);


$app-bg-color: #fff;


$primaryFontFamily: 'Manrope', sans-serif;
$secondaryFontFamily: 'Roboto', sans-serif;

$networksMaxWidth: 1674px;
$pageMaxWidth: 1674px;


$d-padding: 17px;
