
$green-dark: #1e352f;
$green-light-1: #4D7267;
$green-light-2: #D9E8E4;



$grey-soft: #dfe1e5;

$grey-light-1: rgba(0, 0, 0, 0.12);
$yellow-color: #E1954F;
$text-black-1: rgba(0, 0, 0, 0.87);

/* table_row_on_hover_bg */
$green-transparent-2: rgba(88, 130, 118, 0.06);

$drop-shadow-1: 0px 1px 6px rgba(32, 33, 36, 0.28);



$primaryFontFamily: 'Manrope', sans-serif;

$networksMaxWidth: 1674px;


$d-padding: 17px;
