<div class="graph-filter-bar">
  <div class="h-flex align-center" style="gap: 6px">
    <img alt="icon with many nodes" src="assets/Union.svg">
    <mat-slider [style.width]=" '120px'" [min]="minGraphEdgeFreq" [max]="maxGraphEdgeFreq" step="1" color="primary" [value]="currSliderValue"
                tickInterval="1" thumbLabel   (input)="handleSliderInput($event)"></mat-slider>
    <img alt="icon with few nodes" src="assets/Group%20116.svg">
  </div>
  <div style="border-left: 1px solid rgba(0, 0, 0, 0.12);height: 39px"></div>
  <div></div>
  <div style="border-left: 1px solid rgba(0, 0, 0, 0.12);height: 39px"></div>
  <div></div>
</div>
